html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Open Sans", "Roboto", "Lato", "Nunito", "Montserrat", sans-serif;
  font-size: 10px;
  -webkit-transition: opacity 1s ease-in-out, display 1s ease-in-out, background-color 1s ease-in-out, color 1s ease-in-out, border-color 1s ease-in-out;
  transition: opacity 1s ease-in-out, display 1s ease-in-out, background-color 1s ease-in-out, color 1s ease-in-out, border-color 1s ease-in-out;
}

.main {
  display: none;
  position: relative;
  padding-top: 5vh;
  scroll-padding-top: 60px;
  overflow: hidden;
  background-image: url(../image/dots.svg);
  background-repeat: no-repeat;
  background-position: 0%;
}
.main > * {
  padding: 0 15vw 0 14vw;
}
.main__hero {
  margin-top: 8.5vh;
  background-image: url(../image/dots.svg);
  background-repeat: no-repeat;
  background-position: left bottom;
}
.main__whatwedo {
  margin-top: 15vh;
  background-image: url(../image/dots.svg);
  background-repeat: no-repeat;
  background-position: 105% bottom;
  background-size: 245px 254px;
}
.main__aboutus {
  margin-top: 15vh;
  padding-bottom: 15vh;
  background-image: url(../image/dots.svg);
  background-repeat: no-repeat;
  background-position: 15% 100%;
}
.main__successful {
  margin-top: 5vh;
}
.main__statistic {
  margin-top: 20vh;
}
.main__testimonials {
  margin-top: 10vh;
}
.main__news {
  margin-top: 20vh;
}
.main__footer {
  margin-top: 90px;
}

.content__subtitle {
  margin-bottom: 1.3vh;
  font-family: "Poppins", "Montserrat", "Roboto", "Open Sans", "Lato", sans-serif;
  font-size: 2em;
  font-weight: 600;
  color: #646464;
  text-transform: uppercase;
}
.content__title {
  margin-bottom: 2.5vh;
  font-family: "Poppins", "Montserrat", "Roboto", "Open Sans", "Lato", sans-serif;
  font-size: 4.8em;
  font-weight: 500;
  color: #212121;
}
.content__text {
  color: #646464;
  font-size: 1.8em;
  font-weight: 400;
  line-height: 30px;
}
.content__button {
  padding: 19px 30px;
  background-color: #37806b;
  color: #fff;
  border: none;
  border-radius: 20px 0;
  font-weight: 600;
  font-size: 1.8em;
  text-transform: uppercase;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}
.content__button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.content__picture {
  position: relative;
  border-radius: 140px 0;
  height: 100%;
}
.content__picture::after {
  position: absolute;
  content: "";
  top: 6%;
  left: 6%;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border-radius: 140px 0;
  border: solid 2px #B0855B;
  z-index: -1;
}
.content__image {
  max-width: 679px;
  width: 35vw;
  border-radius: 140px 0;
}

@media (max-width: 1281px) {
  .main > * {
    padding: 0 10vw 0 10vw;
  }
}
@media (max-width: 769px) {
  body {
    font-size: 8px;
  }
}
.loading {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: fadeOut 6ms forwards;
          animation: fadeOut 6ms forwards;
}
.loading__element {
  width: 50px;
  height: 50px;
  background-color: #37806b;
  border-radius: 50%;
  margin: 5px;
  -webkit-animation: slide 6s infinite;
          animation: slide 6s infinite;
}
@-webkit-keyframes slide {
  0%, 100% {
    -webkit-transform: translateX(-950px);
            transform: translateX(-950px);
  }
  50% {
    -webkit-transform: translateX(950px);
            transform: translateX(950px);
  }
}
@keyframes slide {
  0%, 100% {
    -webkit-transform: translateX(-950px);
            transform: translateX(-950px);
  }
  50% {
    -webkit-transform: translateX(950px);
            transform: translateX(950px);
  }
}
@-webkit-keyframes slideIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slideIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.header {
  position: fixed;
  padding-top: 10px;
  padding-bottom: 10px;
  top: 0;
  background-color: #fff;
  z-index: 2;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__progress-bar {
  height: 5px;
  width: 0;
  background-color: #37806b;
  top: 0;
  left: 0;
  z-index: 3;
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
}
.header__logo {
  margin-right: 15vw;
}
.header__sign {
  margin-left: 5vw;
}

.navigation {
  width: 45vw;
}
.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.navigation__item {
  padding: 5px 10px;
  color: #212121;
  font-size: 1.6em;
  font-weight: 600;
  cursor: pointer;
}
.navigation__item:hover {
  color: #37806b;
  border: solid 1px #37806b;
}

.sign__button {
  padding: 5px 19px;
  background-color: #caa892;
  font-weight: 600;
  font-size: 1.6em;
  color: #fff;
  border: none;
  border-radius: 15px 0;
}

@media (max-width: 1281px) {
  .header__logo {
    margin-right: 10vw;
  }
}
@media (max-width: 1025px) {
  .header__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px;
  }
  .header__logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .header__sign {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .header__navigation {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 100%;
  }
}
.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 50px;
}
.hero__content {
  padding-top: 70px;
  margin-right: 1vw;
}
.hero__subtitle {
  font-family: "Open Sans", "Roboto", "Lato", "Nunito", "Montserrat", sans-serif;
}
.hero__title {
  font-size: 7.2em;
}
.hero__text {
  margin-bottom: 3vh;
}
.hero__image {
  max-width: 715px;
  width: 37vw;
}

.whatwedo {
  padding-right: 5vw;
  padding-bottom: 15vh;
}
.whatwedo__title {
  margin-bottom: 4vh;
}

.services__filter {
  margin-bottom: 9vh;
}

.filter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4vw;
}
.filter__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 46px;
  width: 206px;
  background-color: #37806b;
  color: #fff;
  border: solid 5px #37806b;
  border-radius: 20px;
  cursor: pointer;
}
.filter__item_choosed {
  background-color: #fff;
  color: #37806b;
}
.filter__radio {
  display: none;
}
.filter__label {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.6em;
  cursor: inherit;
}

.examples__list {
  margin-bottom: 6vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 30px;
}
.examples__item {
  max-width: 477px;
  width: 30%;
  cursor: pointer;
}
.examples__item:hover {
  background-color: #caa892;
  color: #fff;
}

.service {
  padding: 30px 40px;
  border: none;
  border-radius: 60px 0;
  -webkit-box-shadow: 0 8px 20px rgba(0, 0, 0, 0.14);
          box-shadow: 0 8px 20px rgba(0, 0, 0, 0.14);
}
.service__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.service__picture {
  width: 50px;
}
.service__title {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 2.4em;
}
.service__text {
  font-size: 1.8em;
  line-height: 28px;
}

.aboutus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7vw;
}
.aboutus__picture.content__picture::after {
  top: -6%;
  left: -6%;
}
.aboutus__content {
  max-width: 546px;
}
.aboutus__subtitle {
  margin-bottom: 55px;
}
.aboutus__text {
  margin-bottom: 30px;
}

.successful {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
.successful__content {
  margin-top: 10%;
}
.successful__years {
  margin-bottom: 10px;
}
.successful__title {
  margin-bottom: 20px;
  font-size: 5em;
  line-height: 65px;
}
.successful__image {
  height: 100%;
}

.statistic {
  position: relative;
  z-index: -2;
  padding-top: 80px;
  padding-bottom: 100px;
  height: 670px;
  background-color: #f8f8f8;
  text-align: center;
}
.statistic__title {
  margin: 0 auto 85px;
  width: 45vw;
}
.statistic__content {
  position: relative;
  min-height: 278px;
}
.statistic__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 182px;
  height: 185px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  border-radius: 40px 0;
  -webkit-box-shadow: 0px 13px 16px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 13px 16px rgba(0, 0, 0, 0.16);
  text-align: center;
}
.statistic__count {
  font-weight: 700;
  font-size: 5em;
  line-height: 60px;
}
.statistic__description {
  font-weight: 500;
  font-size: 1.8em;
  line-height: 30px;
}

.vertical-line {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border: none;
  border-left: 1px solid black;
  height: 100px;
}

.horizontal-line {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border: none;
  border-top: 1px solid black;
  width: 110px;
}

.statistic__content div:nth-of-type(1) {
  top: -15%;
}
.statistic__content hr:nth-of-type(1) {
  top: 8%;
  left: 13%;
}
.statistic__content hr:nth-of-type(2) {
  top: 8%;
  left: 21%;
}
.statistic__content hr:nth-of-type(3) {
  top: 45%;
  left: 21%;
}
.statistic__content div:nth-of-type(2) {
  top: 15%;
  left: 28%;
}
.statistic__content hr:nth-of-type(4) {
  top: 44%;
  left: 41%;
}
.statistic__content hr:nth-of-type(5) {
  top: 7%;
  left: 49%;
}
.statistic__content hr:nth-of-type(6) {
  top: 7%;
  left: 49%;
  width: 120px;
}
.statistic__content div:nth-of-type(3) {
  top: -15%;
  left: 58%;
}
.statistic__content hr:nth-of-type(7) {
  top: 7%;
  left: 71%;
}
.statistic__content hr:nth-of-type(8) {
  top: 7%;
  left: 79%;
}
.statistic__content hr:nth-of-type(9) {
  top: 44%;
  left: 79%;
  width: 120px;
}
.statistic__content div:nth-of-type(4) {
  top: 15%;
  left: 88%;
}

@media (max-width: 1681px) {
  .statistic__content hr:nth-of-type(3n+1) {
    width: 97px;
  }
}
.testimonials__titles {
  text-align: center;
}

.carousel-control-prev-icon {
  fill: #000;
}

.reviews__buttons {
  height: 30px;
  margin-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.reviews__button {
  position: relative;
  height: 30px;
  width: 30px;
  -webkit-box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.3);
          box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}
.reviews__button:hover {
  background-color: #37806b;
}
.reviews__button:hover .reviews__button_arrow {
  color: #fff;
}
.reviews__button_arrow {
  color: #000;
  font-size: 2em;
}
.reviews__inner {
  overflow: visible;
}
.reviews__page.active {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.reviews__item {
  float: right;
  border-radius: 70px 0;
  -webkit-box-shadow: 7px 7px 30px 5px rgba(66, 96, 84, 0.15);
          box-shadow: 7px 7px 30px 5px rgba(66, 96, 84, 0.15);
}

.review {
  position: relative;
  margin-right: 0;
  height: 225px;
  max-width: 570px;
  width: 45%;
  padding: 50px 30px 50px 90px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.review:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.review:hover .review__text {
  overflow: visible;
  white-space: normal;
}
.review__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 2.4em;
}
.review__text {
  font-size: 1.8em;
  line-height: 28px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.review__image {
  position: absolute;
  top: 25%;
  left: -11%;
  max-width: 130px;
  max-height: 130px;
  border-radius: 35px 0;
}

@media (max-width: 1025px) {
  .reviews__page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
  .review {
    width: 80%;
  }
}
.news {
  position: relative;
  padding: 90px 10vw 90px 15vw;
  background-color: #f8f8f8;
}
.news__titles {
  margin-bottom: 30px;
  text-align: center;
}
.news__notes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 100px;
}
.news__post {
  width: 50%;
  max-width: 670px;
}

.post {
  cursor: pointer;
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
  transition: opacity 1s ease, -webkit-transform 1s ease;
  transition: opacity 1s ease, transform 1s ease;
  transition: opacity 1s ease, transform 1s ease, -webkit-transform 1s ease;
}
.post.visible {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.post:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.post:hover .post__text {
  overflow: visible;
  white-space: normal;
}
.post__picture {
  max-width: 554px;
  max-height: 386px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin-bottom: 59px;
}
.post__picture::after {
  top: 10%;
}
.post__image {
  max-width: 555px;
  width: 100%;
}
.post__title {
  margin-bottom: 17px;
  font-weight: 600;
  font-size: 3em;
  line-height: 28px;
}
.post__text {
  width: 100%;
  margin-bottom: 45px;
  color: #646464;
  font-size: 1.8em;
  line-height: 28px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.signup {
  padding-top: 80px;
  margin: 0 auto;
}
.signup__title {
  font-family: "Poppins", "Montserrat", "Roboto", "Open Sans", "Lato", sans-serif;
  font-size: 4.8em;
  text-align: center;
}
.signup hr {
  margin: 40px 0;
}
.signup__description {
  margin-bottom: 35px;
  text-align: center;
  font-size: 1.8em;
  line-height: 28px;
  color: #646464;
}

.form {
  width: 40vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.form__name, .form__surname {
  width: 40%;
}
.form__email {
  margin-top: 50px;
  width: 100%;
}
.form__element {
  padding-left: 20px;
  font-family: "Raleway", "Montserrat", "Poppins", "Open Sans", "Nunito", sans-serif;
  font-size: 1.8em;
  line-height: 55px;
  font-weight: 500;
  color: #646464;
  border: none;
  background-color: #eee;
  border-radius: 20px 0;
}
.form__element :invalid {
  border: solid 1px #ff0000;
}
.form__button {
  margin: 50px auto 0;
}

.discount-message {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  padding: 0 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(202, 168, 146, 0.1);
  color: #000;
  font-size: 4em;
  z-index: 5;
}

@media (max-width: 1025px) {
  .form {
    gap: 10px;
  }
  .form__name, .form__surname {
    width: 100%;
  }
  .form__email {
    margin-top: 0;
  }
}
.footer {
  padding-top: 8vh;
  background-color: #f8f8f8;
  font-size: 1.8em;
  line-height: 40px;
  color: #646464;
}
.footer__container {
  margin-bottom: 6vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer hr {
  margin-left: -14vw;
  width: 100vw;
}
.footer__company {
  width: 27%;
}
.footer__links {
  width: 51%;
}
.footer svg {
  width: 37px;
}
.footer svg path {
  width: 100%;
  background-color: #fff;
  border-radius: 100%;
  fill: #d5d5d5;
}
.footer svg path:hover {
  fill: #37806b;
}
.footer__copyright {
  margin: 15px auto;
  text-align: center;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 9%;
}
.links__title {
  margin-bottom: 18px;
  font-weight: 600;
  font-size: 1.333em;
}
.links__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.links__item {
  font-weight: 500;
}
.links__item :hover {
  text-shadow: 0px 13px 16px rgba(0, 0, 0, 0.16);
  color: #37806b;
}
.social__title {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 600;
  font-size: 1.333em;
}
.social__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 17px;
}

@media (max-width: 1025px) {
  .footer__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: -webkit-min-content auto;
    grid-template-rows: min-content auto;
    row-gap: 30px;
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
    grid-template-areas: "footer__company footer__social" "footer__links footer__links";
  }
  .footer__links {
    width: 100%;
    grid-area: footer__links;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__company {
    width: 100%;
    grid-area: footer__company;
  }
  .footer__social {
    grid-area: footer__social;
  }
}/*# sourceMappingURL=style.css.map */