$poppins: 'Poppins', 'Montserrat', 'Roboto', 'Open Sans', 'Lato', sans-serif;
$open-sans: 'Open Sans', 'Roboto',  'Lato', 'Nunito', 'Montserrat', sans-serif;
$raleway: 'Raleway', 'Montserrat', 'Poppins', 'Open Sans', 'Nunito', sans-serif;

$main-color: #ebebeb;
$white: #fff;
$dark-grey: #646464;
$dark-green: #37806b;
$black: #212121;
$grey: #c4c4c4;
$brown: #caa892;
$background-grey: #f8f8f8;

