@import "_variables";

.aboutus {
  display: flex;
  gap: 7vw;

  &__picture {
    &.content__picture::after {
      top: -6%;
      left: -6%;
    }
  }

  &__content {
    max-width: 546px;
  }

  &__subtitle {
    margin-bottom: 55px;
  }

  &__text {
    margin-bottom: 30px;
  }

}