@import "_variables";

.header {
  position: fixed;
  padding-top: 10px;
  padding-bottom: 10px;
  top: 0;
  background-color: $white;
  z-index: 2;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__progress-bar {
    height: 5px;
    width: 0;
    background-color: $dark-green;
    top: 0;
    left: 0;
    z-index: 3;
    transition: width 0.3s ease;
  }

  &__logo {
    margin-right: 15vw;
  }

  &__sign {
    margin-left: 5vw;
  }
}

.navigation {
  width: 45vw;

  &__list {
    display: flex;
    gap: 1vw;
    justify-content: space-between;
  }

  &__item {
    padding: 5px 10px;
    color: $black;
    font-size: 1.6em;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      color: $dark-green;
      border: solid 1px $dark-green;
    }
  }
}

.sign {
  &__button {
    padding: 5px 19px;
    background-color: #caa892;
    font-weight: 600;
    font-size: 1.6em;
    color: $white;
    border: none;
    border-radius: 15px 0;
  }
}

@media (max-width: 1281px) {
  .header__logo {
    margin-right: 10vw;
  }
}

@media (max-width: 1025px) {
  .header {

    &__container {
      flex-wrap: wrap;
      gap: 20px;
    }
    &__logo {
    order: 1;
  }

  &__sign {
    order: 2;
  }

  &__navigation {
    order: 3;
    width: 100%;
  }
}
}