@import "_variables";

.successful {
  display: flex;
  gap: 50px;

  &__content {
    margin-top: 10%;
  }

  &__years {
    margin-bottom: 10px;
  }

  &__title {
    margin-bottom: 20px;
    font-size: 5em;
    line-height: 65px;
  }

  &__image {
    height: 100%;
  }
}